/* ======GENERAL========= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #414141;
    background-color: white;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h1 {
    font-size: 240%;
    font-weight: 300;
    color: white;
}

h2 {
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}

h2::after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    margin: 20px auto 0 auto;
}

h3 {
    font-size: 100%;
    font-weight: 400;
    margin: 15px 0;
}

section {
    padding: 60px 0;    
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.mt-meduim {
    margin-top: 25px;
}

.mr-meduim {
    margin-right: 30px;
}

.pr-small {
    padding-right: 30px;
}

.pr-meduim {
    padding-right: 50px;
}

/* ======COMPONENTS========= */

.btn:link,
.btn:visited,
input[type=submit] {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #e67e22;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color .5s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    color: white;
    background-color: #e67e22;
    transition: background-color .5s;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover {
    color: white;
    background-color: #f79743;
}

.btn-outline:link,
.btn-outline:visited {    
    color: #e67e22;
    background-color: transparent;
}

.btn-outline:hover,
.btn-outline:active {
    background-color: #e67e22;
    color:white;
}

.fa, .fa-li {
    color: #e67e22;
    text-align: left;
}

/* ======HEADER========= */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../image/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav img {
    width: 100px;
    margin-top: 20px;
}

.nav-item {
    list-style: none;
    float: right;
    margin-top: 50px;
}

.nav-item li {
    display: inline-block;
    margin-right: 30px;
}

.nav-item li a:link,
.nav-item li a:visited {
    font-size: 90%;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s;
}

.nav-item li a:hover,
.nav-item li a:active {
    border-bottom: 2px solid #e67e22;
}

.hero-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ======SECTION FEATURE========= */

.feature-header {      
    width: 700px;  
    margin-bottom: 30px;
}

.box {
    padding-right: 30px;
}

.feature-header p {
    text-align: left;
    line-height: 160%;
}

.section-features p {
    font-size: 90%;
    font-weight: 300;
    line-height: 150%;
}

/* ======SECTION FOOD SHOWCASE========= */

.section-meals {
    padding: 0;
}

.showcase-photo {
    list-style: none;
    width: 100%;
}

.showcase-photo li {
    display: block;
    width: 25%;
    float: left;
}

.photo-box { 
   width: 100%;
   margin: 0;
   overflow: hidden;
   background-color: black;
}

.photo-box img {
   width: 100%;
   transform: scale(1.5);
   opacity: .5;
   transition: transform .5s, opacity .5s;
}

.photo-box img:hover {
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
}

/* ======SECTION HOW-IT-WORKS========= */

.section-works {
    background-color: #f3f3f3;
}

.section-works-left {
    text-align: right;
    padding-right: 60px;
    margin-top: 30px;
}

.section-works-left img {
    width: 50%;
    height: auto;
    text-align: right;
}

.step {
    margin-bottom: 70px;
    position: relative;
}

.step:first-child {
    margin-top: 60px;
}

.step:last-of-type {
    margin-bottom: 90px;
}

.step div {
    color: #e67e22;
    font-size: 150%;
    font-weight: 300;
    border-radius: 50%;
    text-align: center;
    display: block;
    padding-top: 4px;
    width: 50px;
    height: 50px;
    border: 2px solid #e67e22;
}

.step p {
    position: absolute;
    left: 80px;
    top: -2px;
    font-size: 110%;
    font-weight: 300;
}

.btn-app img {
    width: auto;
    height: 50px;
    margin-right: 20px;
}

/* ======SECTION CITIES========= */

.cities-photo {
    width: 100%;
    height: auto;
}

.cities-icon i {
    margin-top: 18px;
}

.cities-icon li {
    line-height: 40px;
    font-weight: 300;
    padding-left: 3px;
    padding-top: 10px;
}

.social-linker:link,
.social-linker:visited {
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 3px;
    transition: .5s border-bottom, .5s color;
}

.social-linker:hover,
.social-linker:active {
    color: #414141;
    border-bottom: 1px solid transparent;
}


/* ======SECTION TESTIMONIALS========= */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75)), url(../image/back-customers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #f3f3f3;
}

blockquote {
    font-style: italic;
    font-weight: 300;
    line-height: 150%;
    text-align: justify;
    position: relative;
}

blockquote:before {
    content: "\201C";
    display: block;
    position: absolute;
    font-size: 400%;
    font-style: normal;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular',  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: -30px;
    top: 15px;
}

cite {
    display: block;
    margin-top: 50px;
    font-size: 70%;
    font-style: normal;
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 1.5px;
    text-align: right;
}

cite img {
    width: 15%;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
}

/* ======SECTION SIGN UP========= */

.sign-up {
    background-color: #f3f3f3;
}

.price-box {
    background-color: #fff;   
    border-radius: 4px;
    box-shadow: 0 2px 2px #ebebeb;
    border-top: 2px solid #eeeeee;
    width: 90%;
    margin: 0 auto;
}

.price-header {
    padding: 10px 20px 20px 20px;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(241, 241, 241);
}

.price-header p:first-of-type {
    color: #e67e22;
    font-size: 250%;
    font-weight: 100;
}
.price-header span {
    font-size: 30%;
    font-weight: 200;
}

.price-header p:last-of-type {
    margin-top: 20px;
    font-size: 80%;
    font-weight: 300;
}

.price-content {
    display: inline-block;
    margin-top: 20px;
    padding-bottom: 20px;
}

.price-content li {
    list-style: none;
    line-height: 150%;
    font-weight: 300;
    margin-top: 15px;
}

.price-content li i {
    margin: 4px 0;
}
.price-footer {
    padding: 20px;
    border-top: 1px solid rgb(241, 241, 241); 
    text-align: center;   
}

/* ======SECTION FORMS========= */
.contact-form {
    width: 60%;
    margin: 0 auto;
    font-size: 90%;
    font-weight: 300;
}

input[type=text],
input[type=email], 
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
}

/* ======SECTION FOOTER========= */

footer {
    background-color: #272727;
    font-size: 70%;
    font-weight: 300;
    color: #7e7e7e;
    padding: 60px 0;
}

.footer-nav,
.social-nav {
    list-style: none;
}

.social-nav {
    float: right;
}

.footer-nav li,
.social-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    color: #7e7e7e;
    transition: .5s color, .5s text-decoration;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    text-decoration: underline;
    color: #eeeeee;
}

.social-nav li i {
    color: #7e7e7e;
}

.fa-facebook:hover,
.fa-facebooka:active {
    color: #3b5999;
}

.fa-twitter:hover,
.fa-twitter:active {
    color:#55acee;
}

.fa-google-plus:hover,
.fa-google-plus:active {
    color: #dd4b39;
}

.fa-instagram:hover,
.fa-instagram:active {
    color: #e4405f;
}

.copyright-text {
    margin-top: 20px;
    text-align: center;
}